<mat-menu #submenu="matMenu">
  <button mat-menu-item routerLink="/products">Products</button>
  <button mat-menu-item routerLink="/productadd">Add Product</button>
  <button mat-menu-item routerLink="/main">Home</button>
</mat-menu>
<button mat-button [matMenuTriggerFor]="submenu" yPosition="above">Vendor</button>

<table mat-table [dataSource]='products'>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name. </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>
  <ng-container matColumnDef="partnumber">
    <th mat-header-cell *matHeaderCellDef> Part Number. </th>
    <td mat-cell *matCellDef="let element"> {{element.partnumber}} </td>
  </ng-container>
  <ng-container matColumnDef="unit">
    <th mat-header-cell *matHeaderCellDef> Unit. </th>
    <td mat-cell *matCellDef="let element"> {{element.unit}} </td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef> Price. </th>
    <td mat-cell *matCellDef="let element"> {{element.price}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>